body {
    display: flexbox;
    flex-flow: row;
    align-content: space-between;
}

/* Loader Div */
.parent {
    /* background: #00550055; */
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* Paragraph Layout */
.ContentLoader {
    height: inherit;
}
.Text {
    /* background: radial-gradient(#00000033 10%, transparent 70%); */
    /* background: red; */
    height: 50vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 20px 0px 0px 0px;
    padding: 20px;
    color: snow;
    font-size: 1.1em;
}

.Text::-webkit-scrollbar {
    display: none;
}

/* Pagination Buttons */
.ButtonsDiv {
    /* background: #7fff0055; */
    height: 10em;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
}

.NavButtons {
    transition: 1s ease-in-out;
    width: 33vw;
    height: 10vh;
    border-radius: 40px;
    border: groove 2px #A7EE8E;
    padding: 1vw;
    margin: 0px 5px;
    font-size: 2vh;
    font-weight: 550;
    color: snow;
    background: transparent;
}

.NavButtons:hover {
    transition: 1s ease-out;
    background: #A7EE8E;
    font-size: 2.2vh;
    transform: translateY(-1vh);
    letter-spacing: 0.1vw;
    border: transparent;
    color: black;
}

.NavButtons:active {
    transition: 1s ease-in;
    background: #1A3C58;
    font-size: 2.3vh;
    color: #A7EE8E;
}

/* Side Menu  */
.sideContent {
    /* background: linear-gradient(to right,#1A3C58 , transparent 50%); */
    margin: 20px 0px;
    display: flex;
    flex-flow: column;
    width: 40vw;
    height: 26vh;
    padding: 1vh;
}

.ContentView {
    transition: 1s ease-in-out;
    background: linear-gradient(to right, transparent 5%, #A7EE8E55);
    height: 5vh;
    margin-top: 1vh;
    border: none;
    padding: 1vh;
    color: snow;
    font-size: 2vh;
}

.ContentView:hover {
    transition: 1s ease-out;
    background: #A7EE8Eaa;
    box-shadow: 0px 0px 1vw 0.5vw #A7EE8Eaa;
    color: #000;
    transform: scaleX(2vw);
}

.ContentView:active {
    transition: 1s ease-in;
    background: #A7EE8E;
    box-shadow: none;
    color: #F99F38;
    text-shadow: 1px 1px 3px black;
    font-size: 2.5vh;
    transform: translateX(1.5vw);
    transform: scaleX(1.5vw);
    padding-left: 5vw;
}